/*Admin header*/
.admin #logo{
    background: #1E1E1E;
    padding: 13px;
    color: #fff;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    height: 50px;
}
.admin .page-header{
    margin-top:0;
}
/*Admin header*/

/*Admin navigation*/
.admin #navtop{
    padding: 9px;
}
.admin ul.menu{
    top: 25px;
    background: #3C3C3C;
    width: 210px;
}
.admin ul.menu >li{
    color:#d9d9d9;
    font-size: 16px;
}
.admin ul.menu li ul{
    padding-left:0;
}
span.page_actions a{
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #55b555;
    padding: 6px 12px;
    border-radius: 5px;
}
span.page_actions a:hover{
    color: #ffffff;
    background-color: #47a447;
    border-color: #3e8f3e;
}
span.page_actions {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 13px;;
}
.navbar-nav li a.active{
    background-color: #000 !important;
    color: #fff;
}
/*Admin navigation*/

/*Admin main-page*/
#sum_box .db {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 5px solid #e5e5e5;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.mbm, .mvm, .mam {
    margin-bottom: 10px !important;
}
.panel-body {
    padding: 15px;
}
#sum_box .icon {
    color: #999999;
    font-size: 55px;
    margin-top: 7px;
    margin-bottom: 0px;
    float: right;
}
#sum_box .db:hover {
    background: #40516f;
    color: #fff;
}
#sum_box{
    margin-right: -10px;
    margin-left: -10px;
}
h4.value {
    display: inline-block;
}
p.description {
    display: inline-block;
}
/*Admin main-page*/

/*Admin content*/
#wrapper{
    width: 100%;
    float: none;
    position: absolute;
    box-shadow: none;
    overflow: visible;
    height: 100%;
    background: #fff;
}
.admin #content{
    margin-left: 200px;    
}
#content h1{
    margin-top: 0;
    margin-left: 3px;
    color: #999999;
    font-size: 25px;
    font-weight: 300;
}
#content .pagination{
    display:none;
}
#content .id{
    text-align: center;
}
.admin-box-items img{
    display: block;
    margin: 0 auto;
    width: 90px;
}
div label.box-item-block{
    display: inline-block;
    position: relative;
    margin: 0 10px;
    width: 100px;
    height: 110px;
    overflow: hidden;
}
div.form .box-item-block input{
    position:absolute;
    top: 0px;
}
.box-item-block span{
    font-size:10px;
}
.box-item-block .img-wrapper {
    height: 68px;
}
.box-item-block.fake{
    background: #faebd7;
}
.box-image{
    height:100px;
    width:100px;
}
.items div img{
    height: 40px;
}
.items div{
    font-size: 8px;
}
.change-image{
    display:block;
}
img#box-image {
    width: 100%;
}
/*Admin content*/

.title-bot{
    margin:0;
}