html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 400px;
    background-color: #484848;
    background-image: url(../img/background_image.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    color: #FFF;
}

@font-face {
    font-family: Satisfy;
    src: url(/assets/fonts/Satisfy-Regular.ttf); 
}
span.error {
    color: red;
}
.breadcrumb{
    background-color: transparent;
    font-size: 11px;
}
.breadcrumb li a{
    text-decoration:none;
    color:#FFF;
}
.breadcrumb li a:hover{
    text-decoration:none;
    color:#FFF;
}
.breadcrumb li.active{
    text-decoration:none;
    color:#c0c0c0;
}
.breadcrumb > li + li:before {
    content: "\3E";
}
.section-white {
    background-color: white;
}

.section-grey {
    background-color: #1c2127;
}
.header-blocks-item{
    font-family: monospace;
    font-size: 12px;
}
.btn-pay-balance{
    background: #2abd69;
    width: 49%;
    float: left;
}
.btn.use-promocode{
    width: 49%;
    float: left;
}
.main-block{
    padding-right: 0;
    padding-left: 0;
}
.main-items{
    padding-bottom:20px;
}
.main-items div p {
    font-family: Satisfy;
    padding: 5px;
    font-weight: 500;
}
.main-items .item > a{
    text-decoration:none;
    color:#FFF;
}
.item.unavailable{
    opacity:0.8;
}
.box-info p {
    line-height: 14px;
    margin: 0;
    font-size: 14px;
}
.container .navbar-header .navbar-brand {
    padding: 0px;
}
.main-title{
    margin-left:10px;
}
.container .navbar-header .navbar-brand img {
    max-height: 100%;
} 

.navbar-collapse .navbar-from button {
    border: none;
    background-color: transparent;
    height: 100%;
}
.navbar-default .navbar-nav>li>a{
    color:#FFF;
    font-size: 12px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: transparent;
}
.navbar-collapse .navbar-from button img {
    vertical-align: middle;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #FFF;
    background-color: #111111;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color:transparent;
}
.navbar-toggle.collapsed{
    background-color: #111!important;
}
.modal-content{
    background-color: #414141;
    border-color: #737373;
}
.left-side {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url(../img/left_block_background.png);
    padding-left: 0px;
    padding-right: 0px;
    width: 190px;
    overflow: hidden;
}
.left-side-block{
    max-height: 85%;
    width: 207px;
    overflow: hidden;
    margin-top: 85px;
    padding-bottom: 85px;
}
.left-side .online-drop-header{
    padding-top: 35px;
    text-align: center;
    color: #FFF;
    width: 190px;
    height: 85px;
    position: absolute;
    left: 0;
    border-bottom: 1px solid #1e1e1d;
}
.online-drop-header .online-drop-text{
    font-size: 12px;
}
.left-side div img {
    padding: 5px;
    width: 100px;
}
.drop-info-block{
    min-height: 90px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: #ce2e2e;
    padding-top: 15%;
}
.one-drop-item {
    height: 145px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #1b1b1b;
    border-left: 3px solid #ce2e2e;
    padding-right: 3px;
}
.one-drop-item .drop-image {
    height: 90px;
}
.one-drop-item .drop-item-info>span{
    display:block;
    font-size: 11px;
}
.cases-open-block .cases-open-count{
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}
.cases-open-block {
    position: absolute;
    width: 100%;
    bottom: 50px;
    padding-right: 3px;
}
.cases-open-text {
    font-size: 10px;
    line-height: 10px;
    display: block;
}
.user-online {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 15px;
    padding-right: 3px;
}
.main-items .item a div img {
    max-height: 150px;
    max-width: 100%;
    padding: 10px;
}
.main-items .item:hover div img {
    padding-top: 0px;
}

.price {
    visibility: hidden;
    background-color: #337ab7;
    color: white;
}

.main-items .item {
    margin-top: 5px;
    float: left;
    height: 210px;
    width: 14.28%;
    position: relative;
}
.span12.box-image {
    position: absolute;
    top: 0;
    width: 100%;
}
.span12.box-info {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.social-links {
    margin-left: 40px;
    display: inline-block;
    line-height: 60px;
    float:left;
}
.social-links a i {
    font-size: 20px;
    color: #FFF;
    margin: 5px;
}
.count-users{
    margin-left: 15px;
    display: inline-block;
    line-height: 60px;
    font-size: 12px;
    color: #adadad;
    float: left;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #414141;
    font-size: 12px;
}
.footer .social-links {
    margin-left: 0;
    margin-top: 25px;
}
.footer .footer-logo{
    margin-top:10px;
}
.footer-text {
    margin-top: 35px;
}
.footer-support-mail{
    margin-top: 30px;
}
.footer-support-mail a{
    color:#FFF;
    text-decoration: underline;
}
.container .text-muted {
    margin: 20px 0;
}
.case-open {
    background-color: rgba(6, 6, 6, 0.71);
    padding-bottom: 5px;
    max-width: 450px;
    margin: 0 auto;
    float: none;
    padding: 70px 0;
    clear: both;
    min-height: 200px;
}
.case-item-image{
    height:210px;
}
.btn.btn-success {
    background: #2abd69;
}
.btn.btn-success:hover {
    color: #333;
    text-decoration: none;
}
.btn-buy,
.btn-login,
.btn-loadMore{
    background-color: #ce2e2e;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 15px;
    outline:none!important;
}
.btn-send{
    background-color: #2abd69;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 20px;
    width: 93px;
}
.btn-send:active,
.btn-send:focus,
.btn-send:hover
{
    background: #30d175!important;
    outline: none!important;
}
.btn-sell{
    background-color: #dc6a2c;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 20px;
    width: 93px;
}
.btn-sell:active,
.btn-sell:focus,
.btn-sell:hover {
    background: #df9065!important;
    outline: none!important;
}
.btn-buy:hover,
.btn-buy:active,
.btn-buy:focus,
.btn-login:hover,
.btn-login:active,
.btn-login:focus{
    background-color: #ce2e0e!important;
    outline: none!important;
}
.case-open .case-name{
    margin-top:0;
    font-size: 15px;
}
.ulogin-steam {
    padding: 10px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.ulogin-steam span {
    opacity: 1!important;
}
.box-item-block {
    width: 200px;
    height: 150px;
    background-color: rgba(6, 6, 6, 0.71);
    float: left;
    margin-right: 10px;
    margin-bottom:15px;
    border-left: 3px solid #ce2e2e;
}
.box-item-image {
    height: 105px;
}
.box-item-image img{
    height: 100%;
}
div#animate-drops {
    position: relative;
    width: 300px;
    height: 135px;
    overflow: hidden;
    margin: 0 auto;
}
#animate-drops>.box-item-image{
    float: left;
}
.items-container{
    white-space: nowrap;
    position: absolute;
}
#animate-drops:after{ 
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #ff0000;
    transform: translate(-50%);
    height: 100%;
}
.items-container .box-item-block{
    display: inline-block;
    float: none;
    background: #414141;
}
.name-item {
    padding: 5px;
}
.name-item p {
    font-size: 10px;
    text-align: left;
    padding: 0 5px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-block{
    margin-left: 0;
    width: 100%;
    position: relative;
}
.navbar.navbar-default{
    background-color: #111111;
    border-radius: 0;
    border: 0;
    min-height: 85px;
    padding: 0 0 0 35px;
    padding-top: 15px;
}
.navbar-brand{
    padding:0;
}
/*User profile*/
.logged .user_info {
    position: relative;
    padding: 27px 27px 27px 40px;
}
.profile_container .user_info {
    background: #ccc;
}
.profile_container .userpic {
    display: inline-block;
    width: 103px;
    height: 103px;
    border-radius: 60px;
}
.profile_container .steam-link-container > * {
    display: inline-block;
}
.logged .user_info .ballance > div:nth-child(2) {
    padding-top: 15px;
    display: inline-block;
    margin-left: 10px;
}
.logged .user_info .username, .logged .steam_link {
    margin-bottom: 8px;
}
.logged .balance {
    position: relative;
    line-height: 27px;
    height: 28px;
    border: 1px solid #1a1b22;
    padding: 0 10px 0 10px;
    color: #000;
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
    float: left;
}
.profile_container .steam_link {
    vertical-align: top;
    text-decoration: none;
    transition: all 0.2s ease;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
    border-bottom: 1px solid #2e333e;
    margin-bottom: 20px;
    color: #545d70;
    font-family: 'Open sans',sans-serif;
}
.logged .add-funds {
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
    position: relative;
    margin: auto;
    width: 30px;
    height: 28px;
    border: 1px solid #1A1B22;
    border-left: 0px;
    font-size: 1.5em;
    color: #2ABD69;
    text-align:center;
}
.url_form span {
    font-size: 15px;
    font-family: 'Exo 2',sans-serif;
}
.url_form .steam_link {
    margin-bottom: 0px;
    margin-left: 10px;
}
.url_form>div {
    margin-top: 16px;
}
.url_form input[type=text].fail {
    border: 2px solid #dc0018;

}
.url_form input[type=text] {
    background: #f5f5f5;
    transition: all 0.2s ease;
    border: 2px solid #2c303b;
    margin-top: 16px;
    vertical-align: top;
    height: 37px;
    line-height: 37px;
    padding: 0 20px;
    border-radius: 3px;
    font-family: 'Open sans',sans-serif;
    color: #333;
    font-size: 15px;
    outline: none;
    min-width: 200px;
    max-width: 900px;
    width: 75%;
}
.url_form .btn {
    margin-left: 10px;
    margin-top: 16px;
    font-size: 1em;
    color: #FFFFFF;
    line-height: 35px;
    height: 37px;
    vertical-align: top;
    transition: all 0.1s ease;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: 'exo 2',sans-serif;
    padding: 0 30px;
    background: #2abd69;
    border-radius: 3px;
}
.url_form .btn:hover {
    background: #30d175;
}
.logged .case_contains {
    min-height: 300px;
}

.profile_container .case_contains {
    padding-top: 0px!important;
    padding-left: 40px!important;
}
.case_contains {
    min-height: 300px;
    margin-bottom: 70px;
    padding: 5px 0 5px 50px;
}
.case_contains .heading {
    line-height: 80px;
    font-size: 15px;
    font-family: 'Exo 2',sans-serif;
}
.case_contains span {
    font-size: 13px;
    font-family: 'Open sans',sans-serif;
    margin-left: 10px;
    display: inline-block;
}
.box-item-block.box-item-profile {
    height: 170px;
    padding: 10px 0;
}
.btn-small.btn-send,
.btn-small.btn-sell {
    font-size: 10px;
    padding: 5px 5px;
}
span.drop-status.SEND {
    background: #2abd69;
    display: block;
    width: 177px;
    padding: 5px 5px;
    font-size: 10px;
}
span.drop-status.SOLD{
    background: #dc6a2c;
    display: block;
    width: 177px;
    padding: 5px 5px;
    font-size: 10px;
}
span.drop-status.ERROR{
    background: #dc0018;
    display: block;
    width: 177px;
    padding: 5px 5px;
    font-size: 10px;
}
span.drop-status.SENDING{
    background: #9e9e9e;
    display: block;
    width: 177px;
    padding: 5px 5px;
    font-size: 10px;
}
.no_items {
    font-size: 15px;
    text-align: center;
    padding-top: 210px;
    background: url(../img/cases/empty_case.png) center 0 no-repeat;
    background-size: 200px;
}
.logged .faq {
    background: #111;
    padding: 60px 60px 60px 40px;
    margin-bottom: 20px;
    display: inline-block;
}
.faq .faq-block {
    width: 50%;
    float: left;
}
.faq_item:nth-child(2n+1) {
    margin-right: 50px;
}
.faq_item {
    margin-bottom: 40px;
}
.faq_item .title {
    font-size: 1.2em;
    font-family: 'Exo 2',sans-serif;
    margin-bottom: 10px;
}
.faq_item .text {
    font-size: 0.8em;
    line-height: 16px;
    left: 32px;
    padding-right: 35px;
}
.url_form input[type=text].success {
    border: 2px solid #41a853;
    background: #d5e6dd;
}
.article-block {
    padding: 0 40px;
    margin-bottom: 20px;
}
.article-block .article-header{
    margin-bottom: 20px;
}
.article-block .article-body {
    border-left: 5px solid #FFF;
    padding-left: 18px;
}
/*User profile*/

/*partner page*/
.partner-table {
    background-color: #060606;
    border: 0;
    text-align: center;
}
.partner-table thead th{
    text-align: center;
}
.partner-table>thead>tr>th{
    border-bottom:0;
}
.partner-table>tbody>tr>td{
    border-top: 1px solid #191919;
}
.partner-table thead{
    background-color: #0b0b0b;
}
.image-partner {
    height: 50px;
}
.image-partner img{
    height: 100%;
}
.level-column{
    width: 100px;
}
/*/partner page*/

.container.content-page {
    background-color: rgba(6, 6, 6, 0.71);
    margin-bottom: 30px;
}
.content-page .button-area {
    margin: 15px auto;
}
a.terms-link {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}
.case-open .error {
    color: #ce2e2e;
}

/*Responsive*/
@media only screen and (min-width : 320px){
		
}
@media only screen and (min-width : 480px){

}
@media only screen and (min-width : 768px){
    .content-block{
        padding-left: 190px;
    }
    .navbar.navbar-default{
        margin-left: 190px;
    }
    .footer{
        padding-left: 190px;
    }
    .main-items .col-sm-3 {
        height: 185px;
    }
}
@media only screen and (min-width : 992px){

}
@media only screen and (min-width : 1200px){

}
@media only screen and (max-width : 1600px){
    .main-items .item {
        height: 190px;
        width: 16.6%;
    }
}
@media only screen and (max-width : 1200px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-collapse .dropdown-menu {
        position: static;
        top: auto;
        left: auto;
        display: none;
        float: none;
        max-width: none;
        padding: 0;
        margin: 0 15px;
        background-color: transparent;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse .open > .dropdown-menu {
        display: block;
    }
    .dropdown-menu>li>a{
        color: #fff!important;
    }
    .main-items .item {
        height: 170px;
    }
}
@media only screen and (max-width : 979px){
    .main-items .col-md-2 {
        height: 215px;
    }
    button#btnSaveTradeUrl{
        width: 100%;
        margin-left: 0;
    }
    input#tradeLink{
        width: 100%;
    }
    .main-items .item {
        width: 20%;
    }
}

@media only screen and (max-width : 767px){
    .main-items .col-xs-6 {
        height: 200px;
    }
    .main-items .item {
        height: 150px;
    }
    .logged .faq{
        padding:0;
    }
}
@media only screen and (max-width : 550px){
    .profile_container .userpic{
        float: none;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}
@media only screen and (max-width : 450px){
    .logged .user_info>div:nth-child(2){
        margin: 0 auto;
        float:none;
        padding:0;
        padding-top:15px;
    }
    .h1, h1{
        font-size: 25px;
    }
    .h2, h2,
    .h3, h3{
        font-size: 23px;
    }
    .content-page {
        font-size: 12px;
    }
    .content-page ol{
        padding-left: 10px;
    }
    .content-page a{
        word-break: break-all;
    }
}

@media only screen and (max-width : 480px){
    .partner-table{
        font-size: 9px;
    }
    .image-partner{
        height: 15px;
    }
    .main-items .item {
        width: 25%;
        height: 140px;
    }
}

@media only screen and (max-width : 350px){
    .main-items .col-xs-6 {
        height: 150px;
        width: 33.3%;
    }
    .main-items .item {
        width: 33.3%;
    }
}
@media only screen and (max-width : 320px){
    .main-items .col-xs-6 {
        height: 150px;
        width: 33.3%;
    }
    .main-items .item {
        width: 50%;
    }
}

/*Loader animation*/
.case-open #fountainG{
    margin-top: 30%;
}
#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(255,255,255);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}